.xrcontentsitem {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding-right: 12px;
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  cursor: pointer;
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  .icon {
    flex: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .line {
    width: 1px;
    height: 100%;
    background-color: var(--area2);
  }
  .label {
    flex: 1;
    height: 32px;
    min-width: 0;
    color: inherit !important;
  }
  &:hover {
    background-color: var(--main1);
  }
  &.active {
    color: var(--main);
    background-color: var(--main2);
  }
  &.disabled {
    background-color: var(--area1);
    color: var(--font2);
    cursor: not-allowed;
    &.active {
      color: var(--main);
    }
  }
}